

[submodule "anomalib"]
	path = subrepos/anomalib
	url = https://github.com/openvinotoolkit/anomalib



[submodule "atlas-submodule"]
	path = subrepos/atlas-submodule
	url = https://github.com/Caleb5Mathew/Atlas.git
	branch = Atlas2
 
[submodule "subrepos/yolov5"]
	path = subrepos/yolov5
	url = https://github.com/ultralytics/yolov5
[submodule "subrepos/privateGPT"]
	path = subrepos/privateGPT
	url = https://github.com/imartinez/privateGPT
[submodule "subrepos/localGPT"]
	path = subrepos/localGPT
	url = https://github.com/PromtEngineer/localGPT
