

[submodule "anomalib"]
	path = anomalib
	url = https://github.com/openvinotoolkit/anomalib



[submodule "atlas-submodule"]
	path = atlas-submodule
	url = https://github.com/Caleb5Mathew/Atlas.git
	branch = Atlas2
 
